In [20]:
import pandas as pf
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [12]:
dataset = pd.read_csv('car data.csv')

In [30]:
dataset.head(5)

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Selling_Price
0,90,2014,5.59,27000,2,0,1,0,3.35
1,93,2013,9.54,43000,1,0,1,0,4.75
2,68,2017,9.85,6900,2,0,1,0,7.25
3,96,2011,4.15,5200,2,0,1,0,2.85
4,92,2014,6.87,42450,1,0,1,0,4.60

In [14]:
dataset.isnull().sum()

Car_Name         0
Year             0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
Selling_Price    0
dtype: int64

In [ ]:
# There are no missing/null values in dataset.

In [15]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Present_Price  301 non-null    float64
 3   Kms_Driven     301 non-null    int64
 4   Fuel_Type      301 non-null    object
 5   Seller_Type    301 non-null    object
 6   Transmission   301 non-null    object
 7   Owner          301 non-null    int64
 8   Selling_Price  301 non-null    float64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

# Car_Name

In [21]:
Car_Name_le = LabelEncoder()
Car_Name_le.fit_transform(dataset["Car_Name"])

array([90, 93, 68, 96, 92, 95, 68, 91, 68, 68, 62, 68, 68, 76, 73, 76, 76,
       76, 96, 93, 63, 85, 93, 63, 96, 92, 92, 92, 63, 68, 90, 90, 92, 76,
       73, 93, 73,  0, 63, 93, 65, 63, 93, 73, 89, 68, 90, 96, 76, 68, 81,
       81, 86, 81, 86, 71, 77, 71, 78, 81, 71, 77, 81, 81, 81, 80, 86, 81,
       71, 71, 80, 71, 71, 80, 77, 78, 71, 70, 71, 81, 71, 79, 86, 86, 86,
       67, 88, 71, 80, 78, 71, 86, 86, 81, 71, 71, 86, 71, 71, 81, 49, 56,
       42, 11, 46, 43, 40, 48, 48, 46, 42, 48, 41, 44, 46, 46, 46, 49, 46,
       49, 17, 48, 45, 46, 47, 47,  6,  4, 32, 60, 32, 58,  6,  6, 51, 14,
       37, 20, 32,  7, 37,  5, 57, 57, 12, 51, 20, 60, 15, 15, 52, 26, 16,
       16, 61, 31, 54, 60, 38, 31,  8, 52, 16,  7, 28,  1, 25, 51, 34, 28,
       59, 25, 13,  2, 35, 22, 39, 30, 53, 39, 23, 27, 33,  9, 14, 50, 55,
       36, 21, 29, 14, 10, 24, 19, 18,  3,  1, 36, 10, 33, 14, 84, 82, 83,
       75, 82, 97, 82, 84, 82, 83, 74, 72, 84, 82, 94, 75, 75, 94, 94, 75,
       84, 84, 94, 94, 83, 82, 83, 94, 84, 94, 94, 74, 82, 82, 94, 75, 72,
       94, 75, 94, 97, 97, 84, 94, 94, 84, 94, 83, 84, 72, 69, 66, 69, 69,
       66, 69, 69, 69, 64, 69, 66, 64, 87, 64, 87, 64, 69, 66, 69, 69, 69,
       69, 87, 66, 69, 69, 69, 87, 69, 66, 69, 69, 69, 66, 87, 87, 64, 69,
       69, 64, 66, 87, 69, 64, 69, 69, 66, 69, 69, 66])

In [22]:
dataset['Car_Name'] = Car_Name_le.fit_transform(dataset["Car_Name"])

# Fuel_Type

In [25]:
Fuel_Type_le = LabelEncoder()
dataset['Fuel_Type'] = Fuel_Type_le.fit_transform(dataset["Fuel_Type"])

# Seller_Type

In [27]:
Seller_Type_le = LabelEncoder()
dataset['Seller_Type'] = Seller_Type_le.fit_transform(dataset["Seller_Type"])

# Transmission

In [29]:
Transmission_le = LabelEncoder()
dataset['Transmission'] = Transmission_le.fit_transform(dataset["Transmission"])

In [ ]:
# Seperating input columns and output column

In [32]:
input_data = dataset.iloc[:,:-1]
output_data = dataset["Selling_Price"]

In [ ]:
# Scaling of input data

In [33]:
from sklearn.preprocessing import StandardScaler

In [35]:
ss = StandardScaler()
input_data = pd.DataFrame(ss.fit_transform(input_data),columns = input_data.columns)

In [36]:
input_data

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,1.074323,0.128897,-0.236215,-0.256224,0.500183,-0.737285,0.39148,-0.174501
1,1.191828,-0.217514,0.221505,0.155911,-1.852241,-0.737285,0.39148,-0.174501
2,0.212627,1.168129,0.257427,-0.773969,0.500183,-0.737285,0.39148,-0.174501
3,1.309332,-0.910335,-0.403079,-0.817758,0.500183,-0.737285,0.39148,-0.174501
4,1.152659,0.128897,-0.087890,0.141743,-1.852241,-0.737285,0.39148,-0.174501
...,...,...,...,...,...,...,...,...
296,0.251795,0.821718,0.460214,-0.076225,-1.852241,-0.737285,0.39148,-0.174501
297,0.134290,0.475308,-0.200292,0.593804,0.500183,-0.737285,0.39148,-0.174501
298,0.251795,-1.603156,0.390687,1.313340,0.500183,-0.737285,0.39148,-0.174501
299,0.251795,1.168129,0.564504,-0.719876,-1.852241,-0.737285,0.39148,-0.174501
300,0.134290,0.821718,-0.200292,-0.810958,0.500183,-0.737285,0.39148,-0.174501

In [ ]:
# Spliting Trained Data and Test Data

In [37]:
from sklearn.model_selection import train_test_split

In [38]:
x_train, x_test, y_train, y_test = train_test_split(input_data, output_data, test_size=0.2, random_state=42)

In [46]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [47]:
rf = RandomForestRegressor(n_estimators = 100)
rf.fit(x_train, y_train)
rf.score(x_train, y_train)*100 , rf.score(x_test, y_test)*100

(98.3253608048349, 96.72532286508341)

In [49]:
mean_squared_error(y_test, rf.predict(x_test)), mean_absolute_error(y_test, rf.predict(x_test))

(0.7543410191803286, 0.5708147540983609)

In [ ]:
# Prediction Model

In [51]:
x_test

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
177,-1.275759,0.821718,-0.817924,-0.333500,0.500183,1.356327,-2.554408,-0.174501
289,0.251795,0.821718,0.691970,-0.668875,0.500183,-0.737285,0.391480,-0.174501
228,1.230996,-0.563924,0.205282,0.593804,-1.852241,-0.737285,0.391480,-0.174501
198,-2.059120,-0.910335,-0.817924,-0.050157,0.500183,1.356327,0.391480,3.865859
60,0.330131,-0.217514,1.272521,0.078661,0.500183,-0.737285,0.391480,-0.174501
...,...,...,...,...,...,...,...,...
234,0.760979,0.475308,-0.223468,-0.835995,0.500183,-0.737285,0.391480,-0.174501
296,0.251795,0.821718,0.460214,-0.076225,-1.852241,-0.737285,0.391480,-0.174501
281,0.251795,-2.642389,-0.003299,0.347965,0.500183,-0.737285,0.391480,-0.174501
285,0.956819,0.821718,0.100991,-0.563806,0.500183,-0.737285,-2.554408,-0.174501
182,-1.158255,-0.217514,-0.816765,-0.178949,0.500183,1.356327,0.391480,-0.174501

In [52]:
rf.predict([[-1.275759,0.821718,-0.817924,-0.333500,0.500183,1.356327,-2.554408,-0.174501]])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([0.4283])

In [53]:
y_test

177     0.35
289    10.11
228     4.95
198     0.15
60      6.95
       ...
234     5.50
296     9.50
281     2.10
285     7.40
182     0.30
Name: Selling_Price, Length: 61, dtype: float64

In [ ]:
# Now predicting price of user data/ new data

In [ ]:
sx4	2013	9.54	43000	Diesel	Dealer	Manual	0	4.75

In [ ]:
# convert the provided data in dataframe

In [55]:
new_data = pd.DataFrame([["sx4" ,2013, 9.54, 43000, "Diesel", "Dealer",	"Manual" ,	0]], columns = x_train.columns)

In [56]:
new_data

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,sx4,2013,9.54,43000,Diesel,Dealer,Manual,0

In [ ]:
# performing encoding / training the model for above data

In [65]:
new_data['Car_Name'] = Car_Name_le.transform(new_data["Car_Name"])
new_data['Fuel_Type'] = Fuel_Type_le.transform(new_data["Fuel_Type"])
new_data['Seller_Type'] = Seller_Type_le.transform(new_data["Seller_Type"])
new_data['Transmission'] = Transmission_le.transform(new_data["Transmission"])

In [ ]:
# Now performing Scaling on above data

In [68]:
new_data = pd.DataFrame(ss.transform(new_data), columns=new_data.columns)

In [69]:
new_data

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,1.191828,-0.217514,0.221505,0.155911,-1.852241,-0.737285,0.39148,-0.174501

In [70]:
rf.predict(new_data)

array([4.954])